<form [formGroup]="textForm">
  <div fxLayout="column" fxLayoutGap="5px" [style.padding]="'10px 0'">
    <mat-form-field appearance="outline">
      <mat-label>{{"Password" | ngxI18n}}</mat-label>
      <input matInput formControlName="password" required/>
      <mat-error ngxErrorMessage></mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>ConfirmPassword</mat-label>
      <input matInput formControlName="passwordRepeat" [errorStateMatcher]="errorMatcher"/>
      <mat-error ngxErrorMessage></mat-error>
    </mat-form-field>
  </div>
</form>