<form [formGroup]="textForm">
  <div fxLayout="column" fxLayoutGap="5px" [style.padding]="'10px 0'">
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" required/>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>ConfirmPassword</mat-label>
      <input matInput formControlName="passwordRepeat" [errorStateMatcher]="errorMatcher"/>
      <mat-error>{{textForm.errors | json}}</mat-error>
    </mat-form-field>
    <mat-error>{{textForm.errors | json}}</mat-error>
  </div>
</form>
