<div mat-dialog-content fxLayout="column" fxLayoutAlign="center center">
  <mat-icon [size]="100" [color]="'#ff9800'" fontSet="material-icons-round">warning</mat-icon>
  <span class="mat-headline">{{"AreYouSure" | ngxI18n}}</span>
  <mat-hint *ngIf="data.message">{{data.message | ngxI18n: data.args}}</mat-hint>
</div>
<div mat-dialog-actions align="end">
  <button type="button" mat-button mat-dialog-close>{{"Cancel" | ngxI18n}}</button>
  <button type="button" mat-button cdkFocusInitial (click)="submit()">{{"Yes" | ngxI18n}}</button>
</div>
