<mat-sidenav-container fxFlexFill autosize>
  <mat-sidenav mode="side" [opened]="true">
    <ngx-nav-menu [copyRight]="'云南大昭技术有限责任公司'">
      <mat-icon svgIcon="logo" size="64"></mat-icon>
    </ngx-nav-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar [style.height.px]="64">
      <div fxFlex></div>
      <ngx-toggle></ngx-toggle>
      <button mat-button>
        <ngx-avatar></ngx-avatar>
      </button>
    </mat-toolbar>
    <mat-drawer-container>
      <mat-drawer-content [style.marginLeft.px]="0">
        <div [style.padding.px]="16">
          <router-outlet></router-outlet>
        </div>
      </mat-drawer-content>
    </mat-drawer-container>
  </mat-sidenav-content>
</mat-sidenav-container>