<button mat-raised-button [ngxLoading]="loading" (click)="loading = !loading" >button</button>
<button mat-icon-button [ngxLoading]="loading" (click)="loading = !loading" color="primary">
  <mat-icon fontIcon="setting-fill"></mat-icon>
</button>
<button mat-fab [ngxLoading]="loading" color="primary">
  <mat-icon fontIcon="delete"></mat-icon>
</button>
<button mat-mini-fab color="accent" [ngxLoading]="loading">
  <mat-icon fontIcon="delete"></mat-icon>
</button>

<button mat-button (click)="loading = !loading">Reset</button>
<ngx-toggle [(ngModel)]="active" *ngxSecurity="['AbpIdentity.ClaimTypes']"></ngx-toggle>

<mat-form-field>
  <input matInput [matDatepicker]="picker">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
<button mat-button (click)="changeConditions()">update Security</button>
<router-outlet></router-outlet>