.ngx-menu-container {
  height: calc(100vh);
  min-width: 250px;
  box-sizing: border-box;

  &.collapse {
    min-width: 70px !important;
    .ngx-menu-header {
      padding: 0 16px;
    }
  }

  .ngx-menu-header {
    padding: 0 8px 0 16px;
    height: 64px;
    overflow: hidden;
    box-sizing: border-box;
  }

  .mat-list-item {
    font-size: 14px !important;
  }

  .copy-right {
    max-width: 250px;
    box-sizing: border-box;
    font-size: 12px;
    padding: 16px;
    text-align: center;
    word-wrap:break-word
  }
}