/* You can add global styles to this file, and also import other style files */
@import '../projects/silentmx/ngx-star/material/ngx-material-theme';
@include ngx-material-theme(
  $theme2: (
    primary: mat-palette($mat-blue-grey),
    accent: mat-palette($mat-amber, A200, A100, A400)
  )
);

/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

